.card {
    width: 300px;
    padding: var(--main-pd);
    background-color: var(--light-white);
    border-radius: var(--main-br);
    gap: 15px;
    transition: background 0.3s ease;
    cursor: pointer;
    border-radius: 10px;

    & .img-wrapper {
        width: 100%;
        height: 245px;
        border-radius: var(--main-br);
        overflow: hidden;
        border-radius: 10px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            /* object-position: top; */
        }
    }

    & .info {
        & .creator {
            color: var(--light-gray);
            font-size: 1.2rem;
            font-weight: 500;
        }
    }

    & .bid-wrapper {
        justify-content: space-between;

        & .curr {
            color: var(--light-gray);
            font-size: 1.15rem;
            font-weight: 500;
        }
    }
}
